@font-face {
    font-family: 'JaliLatin Medium';
    src: url('../res/fonts/JaliLatin/JaliLatin-Medium.woff2') format('woff2'),
         url('../res/fonts/JaliLatin/JaliLatin-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JaliLatin Regular';
    src: url('../res/fonts/JaliLatin/JaliLatin-Regular.woff2') format('woff2'),
         url('../res/fonts/JaliLatin/JaliLatin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: JaliLatin Medium, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000e1e;
}

.container {
    display: flex;
}

.login-form-container {
    color: #E4960E;
    background-color: #1C3947;
    border-radius: 10px;
    padding: 20px;
    box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.4);
}

.logo {
    max-height: 320px;
    margin-right: 50px;
}

.login-form-container {
    color: #E4960E;
}

.login_form {
    margin: 20px;
    text-align: center;
}

.login_form label {
    margin-bottom: 8px;
    display: block; 
}

.login_form input,
.login_form select {
    padding: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
}

.login_form button {
    font-family: JaliLatin Regular, sans-serif;
    padding: 10px 20px;
    background-color: #E4960E;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    cursor: pointer;
}

.login_form button:hover {
    background-color: #EDA92C;
}
