@font-face {
    font-family: 'Demine';
    src: url('/res/fonts/Demine/Demine.woff2') format('woff2'),
         url('/res/fonts/Demine/Demine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CAZentrum Condensed Light';
    src: url('/res/fonts/CAZentrum/CAZentrumCondensed-Light.woff2') format('woff2'),
         url('/res/fonts/CAZentrum/CAZentrumCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CAZentrum Regular';
    src: url('/res/fonts/CAZentrum/CAZentrum-Regular.woff2') format('woff2'),
         url('/res/fonts/CAZentrum/CAZentrum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

header {
    background-color: #000e1e;
    color: #F1F1F1;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-height: 90px;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4960E;
    padding: 10px 20px;
}

.nav-links {
    font-size:medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Demine', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #71999B;
    transition: width 0.5s;
}

.nav-links a:hover::before {
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #F1F1F1;
    border-radius: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

footer{
    position: relative;
    width: auto;
    color: #F1F1F1;
    font-family: 'CAZentrum Condensed Light', sans-serif;
    font-size: 12px;
    text-align: center;
    word-spacing: 2px;
}

.footer-bottom{
    background: #000e1e;
    padding: 5px 0;
}

.user-placeholder-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #71999B;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-placeholder-button img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-placeholder-button:hover {
    background-color: #EDA92C;
}

/* Add these styles for the search icon */
.search-icon {
    width: 50px;
    height: 50px;
    background-color: #71999B;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon img {
    width: 70%; /* Adjust the size of the search icon as needed */
}

.search-input {
    padding: 3px;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    width: 0; /* Initially set width to 0 */
    height: 100%;
    background-color: transparent;
    color: white;
    outline: none;
    transition: width 0.5s; /* Add transition for smooth animation */
}

/* Add hover styles for the search container */
.search-container:hover .search-input {
    width: 100px; /* Adjust the width of the input field when hovered */
}
